/* Header de la pagina */
header .appTitle {
	width: 400px;
}

/* Titulo en mainContent */
#mainContent .appTitle, #mainContent .appTitleLogin {
	width: 400px;
}

/* tsk_materiales(mc_list1).php */
#div_search_material_list1 { width: 600px; margin-left: auto; margin-right: auto; }
#div_search_material_list1 #b_nombre { width: 400px; }

/* tsk_materiales(list).php */
#tsk_material_list, #msg_material_list { width: 800px; margin-left: auto; margin-right: auto; }
#tsk_material_list td.cmd { width: 80px; }

/* scr_materiales(abm1).php */
#frm_material_abm1 #nombre { width: 400px; }

/*tsk_vehiculos(mc_list1).php */
#div_search_vehiculo_list1 { width: 600px; margin-left: auto; margin-right: auto; }
#div_search_vehiculo_list1 #v_nombre { width: 400px; }

/* tsk_vehiculos(list).php */
#tsk_vehiculo_list, #msg_vehiculo_list { width: 800px; margin-left: auto; margin-right: auto; }
#tsk_vehiculo_list td.cmd { width: 80px; }

/* scr_vehiculos(abm1).php */
#frm_vehiculo_abm1 #nombre { width: 400px; }

/*tsk_a_tipos(mc_list1).php */
#div_search_asistenciatipo_list1 { width: 600px; margin-left: auto; margin-right: auto; }
#div_search_asistenciatipo_list1 #t_nombre { width: 400px; }

/* tsk_a_tipos(list).php */
#tsk_asistenciatipo_list, #msg_asistenciatipo_list { width: 800px; margin-left: auto; margin-right: auto; }
#tsk_asistenciatipo_list td.cmd { width: 80px; }

/* scr_a_tipos(abm1).php */
#frm_asistenciatipo_abm1 #nombre { width: 400px; }

#div_search_planificacion_list1  { width: 900px; margin-left: auto; margin-right: auto;}
#div_search_planificacion_list1 .izquierda { padding: 0px; margin-left: 0px; }

#result_ot_acmp, #result_vistadetalleplanificacion_acmp{
	width: 865px;
	overflow:auto;
	float:middle;
}

#search_ot_acmp , #search_vistadetalleplanificacion_acmp{
	width: 825px;
	overflow:auto;
	float:middle;
}

#frm_actividadesDiarias_abm1 fieldset { width: 650px; margin-left: auto; margin-right: auto; margin-bottom: 50px; }
#frm_actividadesDiarias_abm1 td.cmd { width: 80px; }

#frm_actividadesDiarias_abm1 #observacion { width: 440px; }


#tsk_personales_list { background-color: yellow; max-width: 1100px; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 50px;}
#tsk_personales_list td.cmd { width: 80px; }

#tsk_actividadesOT_list, #msg_actividadot_list, #tsk_actividadesRutinarias_list, #msg_actividadrutinaria_list,#tsk_actividadesEmergencias_list, #msg_actividademergencia_list { max-width: 1100px; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 50px;}
#tsk_actividadesOT_list td.cmd , #tsk_actividadesRutinarias_list td.cmd { width: 80px; }

/* tsk_a_tipos(list).php */
#tsk_ejecutorEspecialidad_list, #msg_ejecutorEspecialidad_list { width: 500px; margin-left: auto; margin-right: auto; }
#tsk_ejecutorEspecialidad_list td.cmd { width: 80px;}
#tsk_ejecutorEspecialidad_list {text-align: center;}

#tsk_actividadesEmergencias_list input{ width: 50px; }
#tsk_actividadesEmergencias_list textarea{ width: 220px; }
#tsk_actividadesEmergencias_list select{ width: 160px; }

/*body {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #303030;
	background-color: #F0F0F0;
	margin: 0;
	padding: 0;
	min-width: 800px;
}
input, textarea, select, .formEntry, .stdText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

header .appTitle {
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	color: #FFF;
	position: absolute;
	top: 5px;
	right: 10px;
	width: 400px;
	text-align: right;
	text-shadow: 2px 2px 3px #000;
}

.gridview caption {
	height: 2.2em;
	font-size: 1.2em;
	color: #000000;
	text-align: center;
}

.formEntry legend { font-weight: bold; font-style: italic; font-size: 12px; text-align: left;}

/* Formulario de datos *//*
.formEntry legend { font-weight: bold; font-style: italic; }
.formEntry table { width: 100%; }
.formEntry td { padding-bottom: 5px; }
.formEntry td.label { text-align: right; }
.formEntry td.field { text-align: left; }
.formEntry label { font-weight: bold; }
.formEntry label.ra { font-style: italic; }
.formEntry input.ra { 	border-style: none; background-color: transparent; }*/