/* Elementos generales */
body {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #303030;
	background-color: #F0F0F0;
	margin: 0;
	padding: 0;
	min-width: 800px;
}
input, textarea, select, .formEntry, .stdText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
h3 {
	text-align: left;
}

a {
	color: #505050;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: #808080;
	text-decoration: underline;
}

/* Header de la pagina */
header {
	height: 60px;
	background-color: #F0F0F0;
	background-image: url("img/headerbg_blue.jpg");
	background-repeat: repeat-x;
}
header .userName {
	font-weight: bold;
	color: #FFF;
	position: absolute;
	top: 35px;
	left: 220px;
}
header .userName span {
	font-style: italic;
}
header .appTitle {
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	color: #FFF;
	position: absolute;
	top: 5px;
	right: 10px;
	width: 400px;
	text-align: right;
	text-shadow: 2px 2px 3px #000;
}

/* Menu Principal */
nav {
	height: 35px;
	margin: 0 auto 0 0;
	/*width: 810px;*/
	background-color: #F0F0F0;
	background-image: url("img/bodymiddlebg.jpg");
	background-repeat: repeat-x;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	white-space: nowrap;
	position: relative;
}
nav > ul { float: left; }
nav ul ul { position: absolute; left: -9999px; z-index: 100; }
nav > ul > li { float: left; display: block; position: relative; }
nav ul ul {
	background-color: #EEE; padding: 10px 0; border: 1px solid #DDD;
	border-radius: 5px;
}
nav > ul > li > ul {
	border-top: 0;
	border-radius: 0 0 5px 5px;
}
nav a {
	display: block;
	font-size: 0.9em;
	color: #606060;
	text-decoration: none;
	padding: 0 30px 0 15px;
}
nav a:hover {
	text-decoration: none;
}
nav > ul:first-child > li > a { border-left: 1px solid #B0B0B0; }
nav > ul > li > a {
	border-right: 1px solid #B0B0B0;
	text-transform: uppercase;
	line-height: 35px;
	font-weight: bold;
	padding: 0 15px 0 15px;
}
nav ul ul li a { line-height: 20px; text-align: left; }
nav ul li:hover > ul { left: 0; top: 35px; }
nav ul ul li:hover > ul { left: 100%; top: auto; margin: -31px 0 0 -10px; }
nav li.left:hover > ul { left: auto; right: 0; top: 35px; }
nav li.left ul li:hover > ul { left: auto; right: 100%; top: auto; margin: -31px -10px 0 0; }
nav li.left ul a { text-align: right; padding: 0 15px 0 30px; }
nav li a.fly {
	background-color: transparent;
	background-image: url("img/ArrowRight.gif");
	background-repeat: no-repeat;
	background-position: right center;
}
nav li.left ul a.fly {
	background-color: transparent;
	background-image: url("img/ArrowLeft.gif");
	background-repeat: no-repeat;
	background-position: left center;
}
nav > ul li:hover > a {
	background-color: #F0F0F0;
	background-image: url("img/menuhover.jpg");
	background-repeat: repeat-x;
	background-position: top left;
	color: #000;
}

/* Contenido Principal */
.backgroundContent {
	clear: both;
	width: 100%;
	/*height: auto;*/
	background-color: #F0F0F0;
	background-image: url("img/bodybgcontent.jpg");
	background-repeat: repeat-x;
	min-height: 448px;
}
#mainContent {
	text-align: center;
	margin-left: 3%;
	margin-right: 3%;
	padding-top: 5px;
}
#mainContent .img {
	background-image: url("img/fondo_logo_color.jpg");
	width: 1000px;
	height: 551px;
	margin-left: auto;
	margin-right: auto;
}
#mainContent .imgLogin {
	background-image: url("img/fondo_logo_bn.jpg");
	width: 1000px;
	height: 551px;
	margin-left: auto;
	margin-right: auto;
}
#mainContent .appTitle, #mainContent .appTitleLogin {
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	color: #333;
	position: relative;
	top: 40px;
	left: 120px;
	width: 400px;
	text-align: left;
	text-shadow: 2px 2px 3px #FFF;
}

/* Pie de la pagina */
footer {
	color: #D0D0D0;
	background-color: #8B8B8B;
	background-image: url("img/footerbg.jpg");
	background-repeat: repeat-x;
	background-position: top left;
	text-align: center;
	font-size: 0.9em;
	font-weight: bold;
	line-height: 20px;
	width: 100%;
	height: 20px;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 1;
}

/* Barra de Ubicación */
.locationBar {
	padding-left: 5px;
	text-align: left;
}

/* Titulo del task */
.taskTitle {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.7em;
	font-weight: bold;
}

/* Mensajes de validacion */
.msgVal { text-align: left; padding: 5px; width: 90%; margin-left: auto; margin-top: 5px; margin-right: auto; margin-bottom: 5px; }
.msgVal span { font-weight: bold; }
.msgVal ul { margin: 0; }
.msgVal li label { font-weight: normal; }

/* Formulario de datos */
.formEntry legend { font-weight: bold; font-style: italic; }
.formEntry table { width: 100%; }
.formEntry td { padding-bottom: 5px; }
.formEntry td.label { text-align: right; }
.formEntry td.field { text-align: left; }
.formEntry label { font-weight: bold; }
.formEntry label.ra { font-style: italic; }
.formEntry input.ra { 	border-style: none; background-color: transparent; }

/* GridView */
.gridview { overflow: auto; }
.gridview table {
	border-collapse: collapse;
	background-color: #FFF;
}
.gridview caption {
	border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #CCC;
	height: 1.8em;
	line-height: 1.8em;
	font-weight: bold;
	font-size: 1.2em;
	background-color: #FBFDBB;
}
.gridview table {
	width: 100%;
	border: 1px solid #CCC;
}
.gridview th, .gridview td {
	padding-left: 5px; padding-right: 5px;
}
.gridview th.sorted {
	white-space: nowrap;
}
.gridview th .sorted {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
.gridview table thead tr {
	height: 1.8em; line-height: 1.8em;
	background-color: #36C; color: #FFF;
}
.gridview table tfoot tr {
	height: 1.6em; line-height: 1.6em;
	color: #000;
	font-weight: bold;
}
.gridview table tbody tr:nth-child(odd) {
	background-color: #CCE0FF;
}
.gridview table tbody tr:nth-child(even) {
	background-color: #99C2FF;
}
.gridview td.text_left { text-align: left; }
.gridview td.text_right { text-align: right; }
.gridview td.text_center { text-align: center; }
.gridview td.text_justify { text-align: justify; }

/* Paginador */
.paginator {
	padding-top: 3px; padding-bottom: 3px;
}
.paginator button {
	font-size: 0.9em;
}

/* Dialogo de espera de carga */
#divLoadingDlg { text-align: center; }
#divLoadingDlg span { font-weight: bold; }
.no-title .ui-dialog-titlebar { display: none; }
.no-close .ui-dialog-titlebar-close { display: none; }

/* Login */
#frmLogin label { display: inline-block; text-align: right; }
#frmLogin input { width: 150px; }
#lblUsuario { width: 80px; }
#lblPassword { width: 80px; }

/* dlg_acomp */
fieldset.formEntry label { display: inline-block; text-align: right; }
fieldset.formEntry input { width: 250px; }
div.result_acmp { width: 370px; }
div.result_acmp select { width: 100%; }
